.user {
  display: flex;
  gap: 15px;
}

.image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  background-color: lightslategrey;
}

.input {
  display: none;
  cursor: pointer;
}

.label {
  display: block;
  width: fit-content;
  cursor: pointer;
  color: lightseagreen;
  margin: 5px auto 15px;
  border-bottom: 1px solid white;
}

.label:hover {
  display: block;
  cursor: pointer;
  border-bottom: 1px solid lightseagreen;
}

.aboutUser,
.contacts {
  margin-top: 20px;
}

.button {
  margin-top: 15px;
}
