.posts {
  margin-top: 40px;
}

.header {
  margin-bottom: 15px;
}

.textarea {
  width: 100%;
  resize: none;
  background-color: lightgray;
  border: 1px solid lightgray;
  padding: 5px;
}

.textarea:focus {
  background-color: #fff;
  outline: none;
}

.button {
  display: block;
  margin: 10px 0 40px auto;
  padding: 10px 25px;
  border: none;
  background-color: var(--color-main);
  color: white;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:hover,
.button:active {
  background-color: rgb(57, 190, 235);
}
