.formControl.error input,
.formControl.error textarea {
  border: 1px solid red;
}

.formControl {
  position: relative;
}

.formControl.error span {
  color: red;
  position: absolute;
  left: 0;
  top: 100%;
}

.formSummaryError {
  border: 1px solid red;
  padding: 5px;
  color: red;
  text-align: center;
  margin-bottom: 15px;
}
