:root {
  --color-light: lightskyblue;
  --color-dark: lightseagreen;
}

.container {
  max-width: 400px;
  margin: 0 auto;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.form {
  display: block;
  margin: 0 auto;
}

.inputLabel {
  display: block;
  margin-bottom: 5px;
  margin-top: 20px;
}

.textInput {
  width: 100%;
  padding: 5px 7px;
  border: 1px solid var(--color-light);
}

.textInput:focus {
  outline: none;
  border: 1px solid var(--color-dark);
}

.buttonsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.line {
  border: none;
  border-top: 1px solid var(--color-light);
  margin-bottom: 25px;
}

.link {
  display: block;
  text-align: center;
  color: var(--color-dark);
  margin-bottom: 30px;
}

.link:hover {
  text-decoration: underline;
}
