.header {
  grid-area: header;
  background-color: var(--color-main);
  color: white;
  padding: var(--inner-padding);
  display: flex;
  justify-content: space-between;
}

.button {
  display: block;
  border: none;
  background-color: steelblue;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
}

.button:hover {
  background-color: lightseagreen;
}

.login {
  text-align: right;
  margin-bottom: 10px;
}
