.sidebar {
  grid-area: nav;
  background-color: var(--color-main);
  padding: var(--inner-padding);
}

.link {
  display: block;
  color: white;
  margin: 10px 0;
}

.link.active {
  color: gold;
}

.link:hover {
  text-decoration: underline;
}

.link:nth-child(n + 5) {
  margin-top: 30px;
}

.friends {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.friend {
  width: 50px;
}

.friendImage {
  height: 50px;
  background-color: lightblue;
  border-radius: 50%;
}

.friendName {
  text-align: center;
  color: white;
}

.friend:hover .friendName {
  color: gold;
}
