:root {
  --color-main: lightsteelblue;
  --inner-padding: 10px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.container {
  display: grid;
  grid-template-areas:
    'header header header'
    'nav content content';
  grid-template-rows: auto 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;

  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}

.content-container {
  grid-area: content;

  position: relative;
  z-index: 0;
}
